@import '../../assets/styles/constants';

$rootClassName: box-info-component;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  background-color: $primary;
  color: $white;

  padding: 18px 12px;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
  aspect-ratio: 4 / 1.5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .#{$rootClassName}-num {
    font-size: clamp(32px, 4vw, 43px);
    font-weight: 600;
  }
  .#{$rootClassName}-label {
  }
}
