$white: #fefefe;
$black: #121212;
$transparent: rgba(0, 0, 0, 0);
$primary: #3fa110;
$primary-dark: #33820d;
$primary-light: #d7e6c8;
$primary-lighter: #eff4eb;
$secondary-darker: #323c32;
$secondary-dark: #5a645a;
$secondary: #828a82;
$secondary-light: #cdd3cd;
$secondary-lighter: #f8f9f7;
$danger: #e60000;
$danger-light: #ffb4b4;
$danger-dark: #ab4745;
$warning: #ffcd00;
$warning-light: #ffeb98;
$warning-dark: #765f00;
$modal-background: rgba(0, 0, 0, 0.5);

// Font Families
$familyNunito: 'Nunito', sans-serif;
$familyExo2: 'Exo 2', sans-serif;